<div class="w-full flex flex-column align-items-center p-2">
  <div class="w-7 flex justify-content-between">
    <app-input-search class="w-10" searchLabel="title"></app-input-search>
    <button
      class="ml-3"
      pButton
      label="Добавить"
      (click)="openNotesDialog()"
    ></button>
  </div>
  <div *ngIf="!(loader.loading | async); else progressSpinner">
    <div
      class="flex flex-wrap gap-3 w-screen justify-content-center mt-3"
      *ngIf="(notes$ | async)?.length; else emptyNotes"
    >
      <div *ngFor="let note of notes$ | async">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyNotes>
  <div class="mt-7 flex flex-column align-items-center">
    <img
      src="assets/status-error-filled-svgrepo-com.svg"
      width="100"
      height="100"
      alt="Ничего не найдено"
    />
    <span class="mt-2">Заметки не найдены</span>
  </div>
</ng-template>
<ng-template #progressSpinner>
  <div class="flex m-5">
    <p-progressSpinner
      styleClass="w-6rem h-6rem"
      strokeWidth="8"
      animationDuration="1s"
    ></p-progressSpinner>
  </div>
</ng-template>
<p-confirmDialog></p-confirmDialog>
