<form [formGroup]="noteForm" class="flex flex-column" (ngSubmit)="submitForm()">
  <div class="w-full">
    <span class="p-float-label mt-4">
      <input id="title" pInputText formControlName="title" />
      <label for="title">Тема</label></span
    >
  </div>
  <div>
    <span class="p-float-label mt-4 w-full">
      <textarea  id="text" [autoResize]="true"  pInputTextarea formControlName="text"></textarea>
      <label for="text">Текст</label></span
    >
  </div>
  <div class="flex justify-content-end mt-2">
    <button type="submit" [loading]="loading" [disabled]="noteForm.invalid || loading" pButton class="mr-2">
      Добавить
    </button>
    <button pButton type="reset" (click)="cancelSubmitForm()">Отмена</button>
  </div>
</form>
