::ng-deep {
  .p-button {
    color: #797171;
    background: transparent;
    border: none;
  }
  .p-button:hover {
    background: rgba(210, 210, 163, 0.24) !important;
    color: #413e34 !important;
  }
  .card {
    background-color: rgb(246, 227, 154);
    border-radius: 1rem;
    color: #625f58;
    .p-button:hover {
      background: transparent !important;
      color: #a8a7a7;
    }
    .p-button:focus{
      box-shadow: none;
    }
    .p-button {
      color: #797171;
    }
  }
  .p-dialog .p-dialog-content,
  .p-dialog .p-dialog-header,.p-dialog .p-dialog-footer  {
    color: #4d4d44;
    background: #fcf7e7;
  }
}
