::ng-deep{
.p-button{
  color: #343434;
  background: rgba(192, 204, 227, 0.24);
  border: 1px solid rgba(51, 51, 51, 0.1);

}
.p-button:hover{
  background: rgba(211, 211, 211, 0.34) !important;
  color: rgb(14, 14, 14) !important;
}
}

