<p-card class="notes-card">
  <div class="w-full flex flex-column align-items-center">
    <div class="w-7 flex justify-content-between">
      <app-note-search
        class="w-10"
        (search)="searchNotes($event)"
      ></app-note-search>
      <button
        class="ml-3"
        pButton
        label="Добавить"
        (click)="openNotesDialog()"
      ></button>
    </div>
    <div class="w-full grid mt-3">
      <div class="col-4" *ngFor="let note of notes$ | async">
        <app-note [note]="note"></app-note>
      </div>
    </div>
  </div>
</p-card>
