$sideBarBackgroundColor: #f5edde;
:host ::ng-deep {
  .p-sidebar .p-sidebar-content {
    padding: 0;
    background-color: $sideBarBackgroundColor;
  }
  .p-sidebar .p-sidebar-header {
    padding: 0;
    background-color: $sideBarBackgroundColor;
    display: block !important;
  }
  .p-button {
    border: none;
    background-color: transparent !important;
    &-label {
      font-size: 1.5rem;
    }
  }
  .p-menu {
    width: 100% !important;
    font-size: 1.2em;
    border: none;
    background-color: $sideBarBackgroundColor;
  }
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #424037;
  }
  .p-menu .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
    color: #85847e;
  }
  .p-sidebar .p-sidebar-footer {
    background-color: $sideBarBackgroundColor;
  }
}
